.font40 {
    font-size: 40px;
}
.font35 {
    font-size: 35px;
}
.font30
{
    font-size: 30px;
}
.font25
{
    font-size: 25px;
}
.font22
{
    font-size: 22px;
}
.font21
{
    font-size: 21px;
}
.font20
{
    font-size: 20px;
}
.font15
{
    font-size: 15px;
}
.font10
{
    font-size: 10px;
}
.font5
{
    font-size: 5px;
}



@media (min-width: 768px) {
    .font20 {
        font-size: 15px;
    }
}
@media (min-width: 1024px) and (max-width: 1024px) {
    .font15 {
        font-size: 10px;
    }
}

