/* Marge Top */

.margeTop25
{
    margin-top: 25%;
}
.margeTop20
{
    margin-top: 20%;
}
.margeTop15
{
    margin-top: 15%;
}
.margeTop10
{
    margin-top: 10%;
}
.margeTop5
{
    margin-top: 5%;
}

.margeTop2
{
    margin-top: 2%;
}

/* Fin marge Top */

/* Marge Bottom */

.margeBot25
{
    margin-bottom: 25%;
}
.margeBot20
{
    margin-bottom: 20%;
}
.margeBot15
{
    margin-bottom: 15%;
}
.margeBot10
{
    margin-bottom: 10%;
}
.margeBot5
{
    margin-bottom: 5%;
}

/* Fin marge bottom */

