.navbarMod{
    color: #373737;
    background-color: transparent;
}
.btn-navXs {
    color: black;
}

.navbar-brand {
    top: -15px;
    left: -75px;
    transform: translateX(-20%);
    position: absolute;
}
.navbar-brand>img {
    background-color: white;
    width: 20%;
    height: 250%;
    border-radius: 50%;
}
.span-black {
    background-color: white;
}
.butonBord {
    border: 2px solid white;
    border-radius: 15%;
}

.bord {
    border : 1px solid black;
}

.btn-white {
    color: white;
}
.btn-black {
    color: #373737;
}

.navbarSmall {
    color: #373737;
    background-color: transparent;
}

.btn-nav{
    color: #373737;
    text-decoration: none;
}

    ul>li .btn-nav:hover,
    ul>li .btn-nav:focus {
    color: #eb0046;
    text-decoration: none;
    background-color: transparent;
}




@media (min-width: 768px) {
    ul>li .btn-nav {
        color: black;
        font-size: 19px;        
    }
    ul>li .btn-nav:hover,
    ul>li .btn-nav:focus {
        font-size: 19px;
    }
}
@media (max-width: 768px) {

    ul>li .btn-nav {
        color: black;
        font-size: 13px;      
    }
    ul>li .btn-nav:hover,
    ul>li .btn-nav:focus {
        font-size: 13px;
    }
}


@media (max-width: 425px) {
    .navbarMod {
        background-color: #eb0046;
    }
    ul>li .btn-nav {
        color: white;
        font-size: 18px;
    }
    ul>li .btn-nav:hover,
    ul>li .btn-nav:focus{
        color: #ffffff;
        text-decoration: none;
        background-color: #eb0046;
        font-size: 18px;        
    }
}



