.centered {
    width: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.navbar li a {
    transition: all 300ms ease-out;
}



.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}



.centered li a {
    font-size: 22px;
    color: #000000;
}
.centered li a:hover,
.centered li a:focus {
    background-color: transparent;
    color: rgb(230, 50, 77);
}

.centered li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease,
    background-color .5s ease;
}

.centered li:hover:after {
    width: 100%;
    background: rgb(230, 50, 77);
}


@media screen and (max-width: 1440px) {
    .centered li a {
        font-size : 16px;
        }
    .centered li a:hover,
    .centered li a:focus, {
        background-color: transparent;
        }
}

@media screen and (max-width: 1024px) {
    .centered {
        width: 100%;
        margin: 0 auto;
    }

    .centered li a {
        font-size : 13px;
    }
    .centered li a:hover,
    .centered li a:focus,
    .centered li a:active {
        background-color: transparent;
    }
}


@media screen and (max-width: 767px) {
    .centered li a {
        font-size : 15px;
        color: white;
    }
    .centered li .black {
        color: #000000;
    }

    .centered li a:hover,
    .centered li a:focus,
    .centered li a:active {
        background-color: transparent;
        color: #ffffff;
    }


    .mobile {
        background-color: #E6324D;
    }

    .navbar-brand img {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .navbar-brand {
        top: -5px;
        left: 0px;
        transform: translateX(-20%);
        position: absolute;
    }

    .span-white {
        background-color: white;
    }
}

/* ///////////////////////////////////////////////////////////////////// */


/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse .navbar-form {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-form >li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
    background-color: lightgrey;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar .nav-collapse {
    background-color: rgba(209, 209, 209, 0.904);
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
    width: 90%;
    padding-left: 55%;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.rond {
    border-radius: 15px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar .btn:not(.collapsed) {
    background-color: rgb(230, 50, 77);
    border-color: #ffffff;
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar .nav-collapse .navbar-form {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(150px, 0px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar .nav-collapse.in {
    transform: translate(0px, 0px);
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-form >li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    .navbar.navbar-default .nav-collapse,
    .navbar .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }

    .navbar.navbar-default .nav-collapse,
    .navbar .nav-collapse .navbar-form {
        transform: translate(0px, 0px);
    }

    .navbar .nav-collapse .navbar-form {
        border-width: 0;
        box-shadow: none;
        width: 90%;
        padding-left: 22%;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .centered {
        /* width: 0 auto; */
    }
    .centered li a {
        font-size: 10px;
        color: black;
    }
    .navbar.navbar-default .nav-collapse,
    .navbar .nav-collapse .navbar-form {
        height: auto !important;
        transition: transform 0.3s;
        /* transform: translate(150px, -6px); */
    }
    .navbar .nav-collapse .navbar-form {
        /* border-width: 0;
        box-shadow: none; */
        /* width: 90%; */
        padding-left: 0;
    }
}