{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}

{% endblock %}

<title>
    Mot de passe perdu
</title>

<div class="container paddG2 black font20">

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Mot de passe perdu</div>
                <div class="panel-body text-center">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input class="form-control font20" type="text" id="username" name="username" required="required" />
                    <div class="margeTop5">
                        <input class="btn btn-regi btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{# Bouton de retour en arrière #}
<div class="container margeTop5">
    <div class="row margeBot5">
        <div class="col-md-4">
            <form>
                <button class="btn btn-md btn-default" type="button" onclick="history.go(-1)">
                    <i class="fa fa-arrow-circle-left"></i> Retour</button>
            </form>
        </div>
    </div>
</div>
{# Fin Bouton de retour en arrière #}


